.downloadCat {
    width: 100%;
    padding: 3vw;
    background-color: #ffa723;
    height: 130px;
}

.downloadCat_wrapper {
    width: 85.5%;
    margin: auto;

}

.downloadCat_wrapper > a > button {
    background-color: #fff;
    color: #63B1F4;
    white-space: nowrap;
    padding: 1vw 2vw;
    border: none;
    border-radius: 1vw;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    font-family: "Light";
    transition: all 0.3s;
    column-gap: 15px;
    margin-top: -55px;
    z-index: 90;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
}

.downloadCat_wrapper > a > button:hover {
    transform: scale(0.9);
}


@media screen and (max-width: 1200px) {
    .downloadCat {
        width: 100%;
        padding: 3vw;
        background-color: #ffa723;
        height: 100px;
    }

    .downloadCat_wrapper {
        width: 85.5%;
        margin: auto;

    }

    .downloadCat_wrapper > a > button {
        background-color: #fff;
        color: #63B1F4;
        white-space: nowrap;
        padding: 1vw 2vw;
        border: none;
        border-radius: 1vw;
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.7vw;
        font-family: "Light";
        transition: all 0.3s;
        column-gap: 15px;
        margin-top: -50px;
        z-index: 90;
        position: relative;
        transition: all 0.3s;
        cursor: pointer;
    }
}

@media screen and (max-width: 1088px) {
    .downloadCat_wrapper > a > button {
        margin-top: -45px;
    }
}

@media screen and (max-width: 1024px) {
    .downloadCat {
        width: 100%;
        padding: 3vw;
        background-color: #ffa723;
        height: 90px;
    }

    .downloadCat_wrapper {
        width: 85.5%;
        margin: auto;

    }

    .downloadCat_wrapper > a > button {
        margin-top: -50px;
    }
}

@media screen and (max-width: 976px) {
    .downloadCat {
        width: 100%;
        padding: 3vw;
        background-color: #ffa723;
        height: 80px;
    }

    .downloadCat_wrapper {
        width: 85.5%;
        margin: auto;

    }

    .downloadCat_wrapper > a > button {
        margin-top: -40px;
    }
}

@media screen and (max-width: 852px) {
    .downloadCat {
        width: 100%;
        padding: 3vw;
        background-color: #ffa723;
        height: 80px;
    }

    .downloadCat_wrapper {
        width: 85.5%;
        margin: auto;

    }

    .downloadCat_wrapper > a > button {
        margin-top: -40px;
    }
}

@media screen and (max-width: 767px) {
    .downloadCat {
        width: 100%;
        padding: 3vw;
        background-color: #ffa723;
        height: 80px;
    }

    .downloadCat_wrapper {
        width: 85.5%;
        margin: auto;

    }

    .downloadCat_wrapper > a > button {
        margin-top: -30px;
    }
}

@media screen and (max-width: 630px) {
    .downloadCat {
        width: 100%;
        padding: 3vw;
        background-color: #ffa723;
        height: 80px;
    }

    .downloadCat_wrapper > a > button {
        display: none;
    }
}

@media screen and (max-width: 501px) {
    .downloadCat {
        width: 100%;
        padding: 3vw;
        background-color: #ffa723;
        height: 70px;
    }

    .downloadCat_wrapper > a > button {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    .downloadCat {
        width: 100%;
        padding: 3vw;
        background-color: #ffa723;
        height: 65px;
    }

    .downloadCat_wrapper > a > button {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .downloadCat {
        width: 100%;
        padding: 3vw;
        background-color: #ffa723;
        height: 60px;
    }

    .downloadCat_wrapper > a > button {
        display: none;
    }
}

@media screen and (max-width: 370px) {
    .downloadCat {
        width: 100%;
        padding: 3vw;
        background-color: #ffa723;
        height: 55px;
    }

    .downloadCat_wrapper > a > button {
        display: none;
    }
}

@media (min-width: 230px) and (max-width: 330px) {
    .downloadCat {
        width: 100%;
        padding: 3vw;
        background-color: #ffa723;
        height: 50px;
    }

    .downloadCat_wrapper > a > button {
        display: none;
    }
}