.offerPage {
    width: 100%;
    margin: 80px 0;
}

.offerPage_wrapper {
    width: 80%;
    display: flex;
    margin: 0 auto !important;
}

.item__offer {
    width: 50%;
    height: 500px;
    display: flex;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemImg1 {
    background-color: #EFEFEF;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 50px;
    padding: 0 35px;
    border-radius: 20px;
}

.itemImg2 {
    background-color: #EFEFEF;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    border-radius: 20px;
}

.itemImg2 > img {
    width: 100%;
}

.itemImg2 > img {
    width: 130px;
}

.itemImg2:nth-child(1) {
    margin: 0 0 40px 0;
}

.carousel:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.item__offer_img {
    width: 150px;
}

.sp__around {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 8vw;
}

.sp__around > h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.reactShtrixCode {
    width: 150px;
    height: 25px;
    object-fit: cover;
}

.sp__around > table {
    width: 100%;
}  

.sp__around > table > tbody > tr {
    display: flex;
    justify-content: space-between;
    padding: 12px 30px 12px 30px;
}

.sp__around > table > tbody > tr:nth-of-type(odd) {
    background-color: #EFEFEF
}


.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.aroundImg {
    margin-left: 5px;
}

.sp__aroundBtn {
    padding: 0.4vw;
    color: #fff;
    border-radius: 0.4vw;
    background-color: #5fceff;
}

tbody > tr > td > button {
    background-color: #ffa723;
    color: #fff;
    white-space: nowrap;
    padding: 1vw 2vw;
    border: none;
    border-radius: 1vw;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1vw;
    gap: 1vw;
    font-size: 1.3vw;
    font-family: "Light";
}

.offerPageSlider {
    width: 100%;
    margin-bottom: 130px;
}

.offerPageSlider_wrapper {
    width: 80%;
    margin: 0 auto;
}

.offerPageSlider_wrapper > .slick-slider > .slick-prev {
    left: -38px;
    background-image: url("https://therepublicoftoys.uz/static/media/Vector.02971ca7.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    transform: rotate(180deg);
    width: 50px !important;
    background-color: transparent;
}

.offerPageSlider_wrapper > .slick-slider > .slick-next {
    right: -38px;
    background-image: url("https://therepublicoftoys.uz/static/media/Vector.02971ca7.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    transform: rotate(180deg);
    width: 50px !important;
    background-color: transparent;
    transform: rotate(0);
}