.protsess {
    width: 100%;
    text-align: center;
    padding-bottom: 70px;
}

.protsess_title {
    text-align: center;
    background-image: url("https://therepublicoftoys.uz/static/media/title-bg.0409017c.svg");
    background-size: 18vw;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 80px 0;
    margin: 0 auto;
}

.protsess_title > h1 {
    font-size: 2.9vw;
    color: #19b1f4;
}

.protsess_title > hr {
    width: 5vw;
    margin: 1vw auto;
    border: 1px solid #ffa723;
    background-color: #ffa723;
}

.body_protsess {
    display: flex;
    justify-content: center;
}

.protsess_column, .img__protsess {
    width: 33.3%;
}

.img__protsess > img {
    margin-top: 20px;
}

.protsess_column:nth-child(1) {
    text-align: right;
}

.align_left{
    text-align: left;
}

.protsess_column > p {
    padding: 14px 0;
    position: relative;
    width: 70%;
}

/* align left */
.align_right > p:nth-child(1) {
    left: 200px;
}

.align_right > p:nth-child(2) {
    left: 158px;
}

.align_right > p:nth-child(3) {
    left: 143px;
}

.align_right > p:nth-child(4) {
    left: 160px;
}

.align_right > p:nth-child(5) {
    left: 209px;
}

.align_right > p:nth-child(6) {
    left: 272px;
}

/* align right */

.align_left > p:nth-child(1) {
    right: 68px;
}

.align_left > p:nth-child(2) {
    right: 30px;
}

.align_left > p:nth-child(3) {
    right: 12px;
}

.align_left > p:nth-child(4) {
    right: 27px;
}

.align_left > p:nth-child(5) {
    right: 47px;
}

.align_left > p:nth-child(6) {
    right: 143px;
}