.contact {
    padding: 7vw 0;
    display: flex;
    justify-content: center;
    background-image: url("https://therepublicoftoys.uz/static/media/bgform.8fc23f6d.svg");
    background-size: cover;
    position: relative;
}

.contact > form > h1 {
    width: 28vw;
    text-align: center;
    color: #fff;
    font-size: 3vw;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 388px;
}

.row {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.row > input {
    padding: 1vw;
    border-radius: 0.6vw;
    resize: none;
    width: 48%;
    outline: none;
    border: none;
}

.contact > form > textarea {
    padding: 1vw;
    border: none;
    border-radius: 0.6vw;
    resize: none;
    outline: none;
    border: none;
}

.contact > form > button {
    background-color: #ffa723;
    color: #fff;
    white-space: nowrap;
    padding: 1vw 2vw;
    border: none;
    border-radius: 1vw;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    font-family: "Light";
    margin-top: 15px;
    transition: all 0.3s;
    cursor: pointer;
}

.contact > form > button:hover {
    transform: scale(0.9);
}

/* asdhakjsdh */

.contactOpen {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(102, 96, 96, 0.75);
    display: none;
    top: 0;
}

.contactOpen.active {
    display: block;
}

.contactOpen_wrapper {
    position: absolute;
    inset: 50% auto auto 50%;
    border: 1px solid rgb(204, 204, 204);
    background: #ffffff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.contactOpen_wrapper > img {
    width: 180px;
    margin-bottom: 20px;
}

.contactOpen_wrapper > h1 {
    color: #FFA723;
    text-align: center;
}

@media screen and (max-width: 630px) {
    .contact > form {
        width: 80%;
    }

    .contact > form > h1 {
        width: 100%;
        font-size: 5vw;
    }

    .contact > form > .row {
        display: flex;
        flex-direction: column;
    }

    .contact > form > .row > input {
        width: 100%;
        padding: 3vw;
        border-radius: 1.6vw;
        margin: 3px 0;
    }

    .contact > form > textarea {
        padding: 3vw;
        border-radius: 1.6vw;
    }

    .contact > form > button {
        padding: 3vw;
        border-radius: 1.6vw;
        font-size: 3.3vw;
    }
}

@media screen and (max-width: 501px) {
  
}

@media screen and (max-width: 460px) {
    
}

@media screen and (max-width: 400px) {

}

@media screen and (max-width: 370px) {
   
}

@media (min-width: 230px) and (max-width: 330px) {
    .contact > form {
        width: 80%;
    }

    .contact > form > h1 {
        width: 100%;
        font-size: 5vw;
    }

    .contact > form > .row {
        display: flex;
        flex-direction: column;
    }

    .contact > form > .row > input {
        width: 100%;
        padding: 3vw;
        border-radius: 1.6vw;
        margin: 3px 0;
    }

    .contact > form > textarea {
        padding: 3vw;
        border-radius: 1.6vw;
    }

    .contact > form > button {
        padding: 3vw;
        border-radius: 1.6vw;
        font-size: 3.3vw;
    }
}