li {
    list-style-type: none;
}

.react-tabs {
    width: 100%;
    
}

.react-tabs_wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 110px 0;
}

.tabs_menu {
    width: 30%;
}

.tabs_menu > h2 {
    color: #666;
    margin-bottom: 20px;
}

.tabs_collection {
    padding: 0 20px;
    width: 80%;
}

.tabs_collection > li {
    width: 100%;
    background-color: transparent;
    padding: 16px 0;
    border: none;
    cursor: pointer;
    color: #404040;
    background-color: transparent;
    border-bottom: 0.5px solid #efefef;
    font-size: 1vw;
    transition: all 0.3s;
}

.tabs_collection > li:hover {
    transform: scale(0.9);

}

.tabs_panel {
    width: 70%;
    display: block;
}

.tabs_panel > h1 {
    text-align: left;
    color: #666;
    margin-bottom: 20px;
}

.tabs_panel > .offers {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1vw;
    gap: 1vw;
}

.offers > a {
    color: #666;
}

.offer {
    border: 1px solid transparent;
    position: relative;
    width: 100%;
    background: #f6f6f7;
    border-radius: 1vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 1vw;
    gap: 1vw;
    height: 100%;
    animation: fadein 1s both;
    justify-content: space-evenly;
}

.offer:hover {
    border: 1px solid #ffa723;
  }

.offer > p {
    font-size: .7vw;
    text-align: center;
}

.offer > span {
    color: #ffa723;
    font-size: .9vw;
}

.offer > img {
    width: 80%;
    height: 13vw;
    object-fit: contain;
}

.hover__offer {
    background-color: hsla(0,0%,100%,.808);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 1vw;
    gap: 1vw;
    display: none;
    border-radius: 1vw;
    animation: hovercard .4s both;
    cursor: pointer;
}

.offer:hover .hover__offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* styling loader in the product page */
.loader-box {
    height: 100vh;
}


@-webkit-keyframes hovercard {
    from {
      -webkit-transform: scale(0.1) translateY(-100px) translateX(-100px);
      transform: scale(0.1) translateY(-100px) translateX(-100px);
    }
    to {
      -webkit-transform: scale(1) translateY(0px) translateX(0px);
      transform: scale(1) translateY(0px) translateX(0px);
    }
}
@keyframes hovercard {
    from {
      -webkit-transform: scale(0.1) translateY(-100px) translateX(-100px);
      transform: scale(0.1) translateY(-100px) translateX(-100px);
    }
    to {
      -webkit-transform: scale(1) translateY(0px) translateX(0px);
      transform: scale(1) translateY(0px) translateX(0px);
    }
}
  
.hover__offer > img {
    width: 3vw
}




@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 976px) {

}

@media screen and (max-width: 852px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 630px) {

}

@media screen and (max-width: 501px) {

}

@media screen and (max-width: 460px) {

}

@media screen and (max-width: 400px) {

}

@media screen and (max-width: 370px) {

}

@media (min-width: 230px) and (max-width: 330px) {
    .tabs_menu {
        display: none;
    }

    .tabs_panel {
        width: 100%;
    }

    .tabs_panel > .offers {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1vw;
        gap: 6vw;
    }

    .offers a {
        /* margin: 5px; */
    }

    .offer {
        border-radius: 4vw;
    }

    .offer > img {
        width: 100%;
        height: 41vw;
        object-fit: cover;
    }

    .offer > p {
        font-size: 3.7vw;
    }

    .offer > span {
        font-size: 2.9vw;
    }

    .dddd {
        width: 100%;
        height: 80px;
        background-color: red;
        display: inline-block;
    }
}