.footer {
    background-color: #F6F6F7;
}

.footer_wrapper {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 25px 0;
}

.logo, .social, .adress {
    width: 33.3%;
    margin: 0 30px;
}

.logo, .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 2vw;
    gap: 2vw;
    font-size: 1vw;
}

.networking {
    display: grid;
    -ms-grid-columns: auto 2vw auto 2vw auto;
    grid-template-columns: auto auto auto;
    grid-gap: 2vw;
    gap: 2vw;
    justify-content: center;
}

.adress {
    display: flex;
    flex-direction: column;
    color: #404040;
    grid-gap: 2vw;
    gap: 2vw;
    width: 30vw;
}

.adress > .row {
    display: flex;
    justify-content: left;
    align-items: center;
}

.adress > .row > .text {
    margin-left: 14px;
}

.adress > .row > .text > h3{
    font-size: 1.3vw;
    color: #19b1f4;
    text-align: center;
}

.adress > .row > .text > p {
    color: #404040;
    font-size: .9vw;
}




@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 1088px) {
  
}

@media screen and (max-width: 1024px) {
 
}

@media screen and (max-width: 976px) {
  
}

@media screen and (max-width: 852px) {
   
}

@media screen and (max-width: 767px) {
    .logo img {
        width: 10vw;
    }

    .social > p {
        font-size: 1.2vw;
    }

    .adress > .row > .text > h3 {
        font-size: 1.2vw;
    }

    .adress > .row > .text > p {
        font-size: 1.2vw;
    }
}

@media screen and (max-width: 630px) {
    .footer_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center
     }
 
     .social, .logo,  .adress{
         width: 100%;
     }
 
     .logo img {
         width: 30vw;
     }
 
     .social > p {
         font-size: 3vw;
         width: 100%;
         margin: 15px 0 10px 0;
     }
 
     .networking img {
         height: 6vw;
     }
 
     .adress {
         margin-top: 30px;
     }
 
     .adress > .row > .text > h3 {
         font-size: 3vw;
         color: #19b1f4;
         text-align: center;
         text-align: left;
     }
 
     .adress > .row > .text > p {
         color: #404040;
         font-size: 3vw;
     }
}

@media (min-width: 230px) and (max-width: 330px) {
    .footer_wrapper {
       display: flex;
       flex-direction: column;
       align-items: center
    }

    .social, .logo,  .adress{
        width: 100%;
    }

    .logo img {
        width: 30vw;
    }

    .social > p {
        font-size: 3vw;
        width: 100%;
        margin: 15px 0 10px 0;
    }

    .networking img {
        height: 6vw;
    }

    .adress {
        margin-top: 30px;
    }

    .adress > .row > .text > h3 {
        font-size: 3vw;
        color: #19b1f4;
        text-align: center;
        text-align: left;
    }

    .adress > .row > .text > p {
        color: #404040;
        font-size: 3vw;
    }
}