.scrollBar > a {
    width: 60px;
    height: 60px;
    background-color: #ff6600;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 0.3s;
    z-index: 40;
}

.scrollBox {
    transition: all .25s ease-out;
    opacity: 0;
}
.active {
    opacity: 1;
     
}

.scrollBar a:hover {
    transform: scale(0.9);
}

.arrow {
    font-size: 50px;
    color: #fff;
}