.nav {
  width: 100%;
  height: 135px;
  background-color: #19b1f4;
  display: flex;
  justify-content: space-evenly;
}

.nav_collection .active {
  position: relative;
  z-index: 10;
  color: white;
}

.nav_collection .active::after {
    width: 7vw;
    height: 15vw;
    background-color: #ffa723;
    position: absolute;
    content: "";
    top: -12vw;
    border-radius: 10vw;
    left: -1vw;
    animation: forbefor .4s both;
    z-index: -1;
}

@-webkit-keyframes forbefor {
  from {
    top: -21vw;
  }
  to {
    top: -12vw;
  }
}
@keyframes forbefor {
  from {
    top: -21vw;
  }
  to {
    top: -12vw;
  }
}

.nav_wrapper {
  display: flex;
  align-items: center;
  height: 135px;
  justify-content: center;
  width: 80%;
  justify-content: space-between;
}

.nav_logo {
  width: 100px;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav_collection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav_collection > li {
  list-style-type: none;
  padding: 15px;
}

.nav_collection > li > a {
  color: #fff;
  text-decoration: none;
  z-index: 30;
}

.langSelect {
  color: #fff;
  border: transparent;
  background-color: transparent;
  outline: none;
  padding: 5px;
}

.langSelect option {
  color: #fff;
  background: #19b1f4;
}

.upper {
    position: relative;
}

.upper > img {
  width: 20px;
}

.upper > input {
  transform: rotate(-90deg);
  width: 80px;
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  left: 10px;
  top: 7px;
  filter: brightness(2.5);
}

.upper > input[type='range'] {
  width: 60px;
  height: 6px;
  background-color: #fff; 
}

.upper:hover .volume_input {
    opacity: 1;
}

.nav_button {
  background-color: #FFA723;
  border: none;
  outline: none;
  padding: 12px 17.32px;
  border-radius: 7px;
  color: #fff;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav_button:hover {
  transform: scale(0.9);
}

.nav_button > img {
  margin: 0 10px;
}

.volume_icon {
  color: white;
  background-color: #5FCEFF;
  font-size: 25px;
  padding: 4px;
  border-radius: 4px;
}

.hamb {
  display: none;
}


@media screen and (max-width: 1200px) {
  .nav {
    width: 100%;
    height: 95px;
    background-color: #19b1f4;
    display: flex;
    justify-content: space-evenly;
  }
  
  .nav_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 80%;
    justify-content: space-between;
  }
  
  .nav_logo img {
    width: 7.8vw
  }

  .nav_logo {
    width: 100px;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav_collection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

  }
  
  .nav_collection > li {
    list-style-type: none;
    padding: 15px;
    font-size: 10px;
  }
}

@media screen and (max-width: 1088px) {
  .nav_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 82%;
    justify-content: space-between;
  }

  .nav_collection > li {
    list-style-type: none;
    padding: 14px;
    font-size: 10px;
  }
}

@media screen and (max-width: 1064px) {

  .nav_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 84%;
    justify-content: space-between;
  }

  .nav_collection > li {
    list-style-type: none;
    padding: 14px;
    font-size: 10px;
  }
}

@media screen and (max-width: 1024px) { 
  .nav {
    width: 100%;
    height: 95px;
    background-color: #19b1f4;
    display: flex;
    justify-content: space-evenly;
  }
  
  .nav_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 86%;
    justify-content: space-between;
  }
  
  .nav_logo img {
    width: 7.8vw
  }

  .nav_logo {
    width: 100px;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav_collection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

  }
  
  .nav_collection > li {
    list-style-type: none;
    padding: 14px;
    font-size: 10px;
  }

} 

@media screen and (max-width: 990px) {
  .nav_collection > li {
    list-style-type: none;
    padding: 13px;
    font-size: 10px;
  }
}

@media screen and (max-width: 976px) {
  .nav {
    width: 100%;
    height: 95px;
    background-color: #19b1f4;
    display: flex;
    justify-content: space-evenly;
  }
  
  .nav_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 86%;
    justify-content: space-between;
  }
  
  .nav_logo img {
    width: 7.8vw
  }

  .nav_logo {
    width: 100px;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav_collection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

  }
  
  .nav_collection > li {
    list-style-type: none;
    padding: 12px;
    font-size: 10px;
  }
} 

@media screen and (max-width: 950px) {
  .nav_collection > li {
    list-style-type: none;
    padding: 11px;
    font-size: 10px;
  }
}

@media screen and (max-width: 930px) {
  .nav_collection > li {
    list-style-type: none;
    padding: 10px;
    font-size: 10px;
  }
}

@media screen and (max-width: 910px) {
  .nav_collection > li {
    list-style-type: none;
    padding: 9px;
    font-size: 10px;
  }
}

@media screen and (max-width: 890px) {
  .nav {
    width: 100%;
    height: 87px;
    background-color: #19b1f4;
    display: flex;
    justify-content: space-evenly;
  }
  
  .nav_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 86%;
    justify-content: space-between;
  }
  
  .nav_logo img {
    width: 7.8vw
  }

  .nav_logo {
    width: 100px;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav_collection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

  }
  
  .nav_collection > li {
    list-style-type: none;
    padding: 7px;
    font-size: 10px;
  }
} 

@media screen and (max-width: 852px) {
  .nav {
    width: 100%;
    height: 70px;
    background-color: #19b1f4;
    display: flex;
    justify-content: space-evenly;
  }
  
  .nav_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 80%;
    justify-content: space-between;
  }
  
  .nav_logo img {
    width: 8.8vw
  }
  
  .nav_collection {
    width: 80%;
    height: auto;
    position: fixed;
    top: 75px;
    opacity: 1;
    z-index: 1;   
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 1px 1px #ddd;
    transform: translate(-121%, 0);
    transition: all 0.5s;
  }

 
  .nav_collection.active {
    top: 75px;
    opacity: 1;
    z-index: 99;
    transition: all 0.5s;
    transform: translate(0%, 0);
  }

  .nav_collection > li > a {
    font-size: 25px;
    color: #FFA723;
    font-weight: 600; 
  }

  .nav_collection .active::after {
    display: none;
  }

  .langSelect {
    color: #ffa723;
  }
  
  .langSelect option {
    color: #fff;
    background: #19b1f4;
  }

  .nav_collection .active {
    color: #553300;
  }

  .hamb {
    display: block;
  }
}

@media screen and (max-width: 630px) {
  .nav {
    width: 100%;
    height: 110px;
    background-color: #19b1f4;
    display: flex;
    justify-content: space-evenly;
  }
  
  .nav_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 87%;
    justify-content: space-between;
  }
  
  .nav_logo img {
    width: 23.8vw;
  }
  
  .nav_collection {
    width: 87%;
    height: auto;
    position: fixed;
    top: 75px;
    opacity: 1;
    z-index: 1;   
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 1px 1px #ddd;
    transform: translate(-111%, 0);
    transition: all 0.5s;
  }

 
  .nav_collection.active {
    top: 75px;
    opacity: 1;
    z-index: 99;
    transition: all 0.5s;
    transform: translate(0%, 0);
  }

  .nav_collection > li > a {
    font-size: 20px;
    color: #FFA723;
    font-weight: 400; 
  }

  .nav_collection .active::after {
    display: none;
  }

  .langSelect {
    color: #ffa723;
  }
  
  .langSelect option {
    color: #fff;
    background: #19b1f4;
  }

  .nav_collection .active {
    color: #553300;
  }

  .hamb {
    display: block;
  }
}

@media screen and (max-width: 501px) {
  .nav {
    width: 100%;
    height: 95px;
    background-color: #19b1f4;
    display: flex;
    justify-content: space-evenly;
  }
  
  .nav_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 87%;
    justify-content: space-between;
  }
  
  .nav_logo img {
    width: 23.8vw
  }
  
  .nav_collection {
    width: 87%;
    height: auto;
    position: fixed;
    top: 70px;
    opacity: 1;
    z-index: 1;   
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 1px 1px #ddd;
    transform: translate(-111%, 0);
    transition: all 0.5s;
  }

 
  .nav_collection.active {
    top: 70px;
    opacity: 1;
    z-index: 99;
    transition: all 0.5s;
    transform: translate(0%, 0);
  }

  .nav_collection > li > a {
    font-size: 16px;
    color: #FFA723;
    font-weight: 400;
  }

  .nav_collection .active::after {
    display: none;
  }

  .langSelect {
    color: #ffa723;
  }
  
  .langSelect option {
    color: #fff;
    background: #19b1f4;
  }

  .nav_collection .active {
    color: #553300;
  }

  .hamb {
    display: block;
  }
}

@media screen and (max-width: 460px) {
  .nav {
    width: 100%;
    height: 90px;
    background-color: #19b1f4;
    display: flex;
    justify-content: space-evenly;
  }
  
  .nav_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 87%;
    justify-content: space-between;
  }
  
  .nav_logo img {
    width: 21.8vw;
  }
  
  .nav_collection {
    display: none;
  }

  .nav_collection {
    width: 87%;
    height: auto;
    position: fixed;
    top: 65px;
    opacity: 1;
    z-index: 1;   
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 1px 1px #ddd;
    transform: translate(-111%, 0);
    transition: all 0.5s;
  }

 
  .nav_collection.active {
    top: 65px;
    opacity: 1;
    z-index: 99;
    transition: all 0.5s;
    transform: translate(0%, 0);
  }

  .nav_collection > li > a {
    font-size: 17px;
    color: #FFA723;
    font-weight: 400;
  }

  .nav_collection .active::after {
    display: none;
  }

  .langSelect {
    color: #ffa723;
  }
  
  .langSelect option {
    color: #fff;
    background: #19b1f4;
  }

  .nav_collection .active {
    color: #553300;
  }

  .hamb {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .nav {
    width: 100%;
    height: 80px;
    background-color: #19b1f4;
    display: flex;
    justify-content: space-evenly;
  }
  
  .nav_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 87%;
    justify-content: space-between;
  }
  
  .nav_logo img {
    width: 20.8vw;
  }
  
  .nav_collection {
    display: none;
  }

  .nav_collection {
    width: 87%;
    height: auto;
    position: fixed;
    top: 60px;
    opacity: 1;
    z-index: 1;   
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 1px 1px #ddd;
    transform: translate(-111%, 0);
    transition: all 0.5s;
    
  }

 
  .nav_collection.active {
    top: 60px;
    opacity: 1;
    z-index: 99;
    transition: all 0.5s;
    transform: translate(0%, 0);
  }

  .nav_collection > li > a {
    font-size: 14px;
    color: #FFA723;
  }

  .nav_collection .active::after {
    display: none;
  }

  .langSelect {
    color: #ffa723;
  }
  
  .langSelect option {
    color: #fff;
    background: #19b1f4;
  }

  .nav_collection .active {
    color: #553300;
  }

  .hamb {
    display: block;
  }
  
}

@media screen and (max-width: 370px) {
  .nav {
    width: 100%;
    height: 70px;
    background-color: #19b1f4;
    display: flex;
    justify-content: space-evenly;
  }
  
  .nav_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 87%;
    justify-content: space-between;
  }
  
  .nav_logo img {
    width: 23.8vw
  }
  .nav_collection {
    width: 87%;
    height: auto;
    position: fixed;
    top: 55px;
    opacity: 1;
    z-index: 1;   
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 1px 1px #ddd;
    transform: translate(-111%, 0);
    transition: all 0.5s;
    
  }

 
  .nav_collection.active {
    top: 55px;
    opacity: 1;
    z-index: 99;
    transition: all 0.5s;
    transform: translate(0%, 0);
  }

  .nav_collection > li > a {
    font-size: 14px;
    color: #FFA723;
  }

  .nav_collection .active::after {
    display: none;
  }

  .langSelect {
    color: #ffa723;
  }
  
  .langSelect option {
    color: #fff;
    background: #19b1f4;
  }

  .nav_collection .active {
    color: #553300;
  }

  .hamb {
    display: block;
  }
}

@media (min-width: 230px) and (max-width: 330px) {
  .nav {
    width: 100%;
    height: 70px;
    background-color: #19b1f4;
    display: flex;
    justify-content: space-evenly;
  }
  
  .nav_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 87%;
    justify-content: space-between;
    position: relative;
  }
  
  .nav_logo img {
    width: 23.8vw
  }
  
  .nav_collection {
    width: 87%;
    height: auto;
    position: fixed;
    top: 55px;
    opacity: 1;
    z-index: 1;   
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 1px 1px #ddd;
    transform: translate(-111%, 0);
    transition: all 0.5s;
    
  }

 
  .nav_collection.active {
    top: 55px;
    opacity: 1;
    z-index: 99;
    transition: all 0.5s;
    transform: translate(0%, 0);
  }

  .nav_collection > li > a {
    font-size: 14px;
    color: #FFA723;
  }

  .nav_collection .active::after {
    display: none;
  }

  .langSelect {
    color: #ffa723;
  }
  
  .langSelect option {
    color: #fff;
    background: #19b1f4;
  }

  .nav_collection .active {
    color: #553300;
  }

  .hamb {
    display: block;
  }
}
