.nav {
  width: 100%;
  height: 135px;
  background-color: #19b1f4;
  display: flex;
  justify-content: space-evenly;
}

.nav_wrapper {
  display: flex;
  align-items: center;
  height: 135px;
  justify-content: center;
  width: 80%;
  justify-content: space-between;
}

.nav_collection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav_collection > li {
  list-style-type: none;
  padding: 16px;
}

.nav_collection > li > a {
  color: #fff;
  text-decoration: none;
}

.langSelect {
  color: #fff;
  border: transparent;
  background-color: transparent;
  outline: none;
  padding: 5px;
}

.langSelect option {
  color: #fff;
  background: #19b1f4;
}

.upper {
    position: relative;
}

.upper > img {
  width: 20px;
}

.upper > input {
  transform: rotate(-90deg);
  width: 80px;
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  left: 10px;
  top: 7px;
  filter: brightness(2.5);
}

.upper > input[type='range'] {
  width: 60px;
  height: 6px;
  background-color: #fff; 
}

.upper:hover .volume_input {
    opacity: 1;
}

.nav_button {
  background-color: #FFA723;
  border: none;
  outline: none;
  padding: 12px 27.32px;
  border-radius: 7px;
  color: #fff;
  transition: all 0.3s;
}

.nav_button:hover {
  transform: scale(0.9);
}

.volume_icon {
  color: white;
  background-color: #5FCEFF;
  font-size: 25px;
  padding: 4px;
  border-radius: 4px;
}
