.aboutPage{
    width: 100%;
    margin: 100px 0 150px 0;
}

.aboutPage_wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.about_text{
    width: 50%;
}
.about_galery{
    width: 50%;
    display: flex;
    justify-content: right;
}
.about_text > h1{
    text-align: start;
    color: #19b1f4;
    font-style: normal;
    font-size: 3vw;
    margin-bottom: 5vw;
}
.about_text > p{
    font-size: 1vw;
    width: 90%;
    line-height: 1.5vw;
    color: #666;
}
.about_item {
    width: 80%;
    margin-right: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2vw;
    gap: 2vw;
}

.about_item > img {
    width: 100%;
    position: relative;
}

.about_item > .item_img {
    top: 5vw;
}

@media (max-width:630px) {
    .about_text p {
        font-size: 4vw;
        width: 100%;
        line-height: 7.5vw;
        text-align: justify;
        margin-left: 25px;
    }
    .about_text p {
        font-size: 3vw;
        width: 90%;
        line-height: 4.5vw;
        color: #666;
    }
    
    .about_text h1 {
        font-size: 5vw;
        margin-top: -50px;
        text-align: center;
    }
    
    .about_text h1 {
        color: #19b1f4;
        font-size: 7vw;
        margin-bottom: 5vw;
    
    }
    .aboutPage_wrapper{
        grid-gap: 20vw;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    }
    .aboutPage_wrapper{
        display: grid;
        width: 90%;
    }
    .about_text{
        width: 100%;
    }
    .about_galery{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .aboutPage {
        width: 100%;
        margin: 100px 0 150px 0;
    }
}
@media (min-width: 230px) and (max-width:330px){
    .about_text p {
        font-size: 4vw;
        width: 100%;
        line-height: 7.5vw;
        text-align: justify;
        margin-left: 13px;
    }
    .about_text p {
        font-size: 6vw;
        width: 90%;
        line-height: 6.5vw;
        color: #666;
    }
    
    .about_text h1 {
        font-size: 5vw;
        margin-top: -50px;
        text-align: center;
    }
    
    .about_text h1 {
        color: #19b1f4;
        font-size: 10vw;
        margin-bottom: 5vw;
    
    }
    .aboutPage_wrapper{
        grid-gap: 20vw;
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    }
    .aboutPage_wrapper{
        display: grid;
        width: 90%;
    }
    .about_text{
        width: 100%;
    }
    .about_galery{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .aboutPage {
        width: 100%;
        margin: 100px 0 60px 0;
    }
}